.theme-dark .autocomplete-3NRXG8 {
    background-color: #1a2633db;
}
/*.cozy-VmLDNB .messageContent-2t3eCI {
    color: #25d466;
}*/

:root {
    --tertiaryb4: #1a2633cf;
    --background-tertiary: transparent;
    --background-primary: rgb(54, 57, 63, 0.9);
    --myimg: url("https://cdn.discordapp.com/attachments/990462669419069440/1077812109146067016/raccoon.jpg")
}
.scroller-kQBbkU {
    background: var(--tertiaryb4);
}
.messagesWrapper-RpOMA3 {
    background-image: var(--myimg);
    background-size: 100% 100%;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 1;
}

.theme-dark {
    --background-primary: #1a2633 !important;
    --background-secondary: #131c26 !important;
    --background-secondary-alt: #0d1620 !important;
    --background-tertiary: #131c26 !important;
    --background-message-hover: #0d1620bd !important;
    --background-floating: #08101a !important;
    --input-background: #131c26 !important;
    --modal-background: var(--background-secondary) !important;
    --channels-default: #d98ba1 !important;
    --channeltextarea-background: #131c26;
    --focus-primary: #00b0f4 !important;
    --primary-dark-630: var(--background-secondary-alt) !important;
    --background-modifier-selected: #ff84ac !important;
    --background-tertiary: #09111b !important;
    --background-mentioned: #131c26 !important;
    --background-mentioned-hover: #09111b !important;
    --header-primary: #d88aa0 !important;
    --header-secondary: #25d466 !important;
    --text-normal: #fde4eb !important;
    --text-muted: #fde4eb !important;
    --text-link: #E80271 !important;
    --divider-color: var(--text-link) !important;
    --mention-brightness: 2.2;
    --mention-wrapper: var(--brand-experiment-30a);
    --mention-wrapper-text: var(--brand-experiment-330);
    --mention-wrapper-hover: 150%;
    --interactive-active: #25d466;
    --channel-icon: #25d466;
}
/*Mac Topbar Buttons*/
.winButton-3UMjdg > svg {
    display: none;
}

.winButton-3UMjdg:hover {
    background-color: rgba(0, 0, 0, 0);
}

.winButton-3UMjdg {
    pointer-events: none;
    margin-left: -3px;
}

    .winButton-3UMjdg::after {
        content: "";
        padding: 7px;
        border-radius: 50px;
        pointer-events: fill;
    }

.winButtonClose-3Q8ZH5 {
    margin-right: 3px;
}

    .winButtonClose-3Q8ZH5::after {
        background-color: #ff605c;
    }

    .winButtonClose-3Q8ZH5:hover::after {
        background-color: rgba(255, 96, 92, 0.5);
    }

.winButtonMinMax-3RsPUg[aria-label="Maximize"]::after {
    background-color: #ffbd44;
}

.winButtonMinMax-3RsPUg[aria-label="Maximize"]:hover::after {
    background-color: rgba(255, 189, 68, 0.5);
}

.winButtonMinMax-3RsPUg[aria-label="Minimize"]::after {
    background-color: #00ca4e;
}

.winButtonMinMax-3RsPUg[aria-label="Minimize"]:hover::after {
    background-color: rgba(0, 202, 78, 0.5);
}